* {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }

body {
    margin: 0;
}

.centreText {
    text-align: center;
}

.header {
    padding-right: 20px;
    background-color: white;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    height: fit-content;
}

.title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}

.nav-list {
    display: flex;
    align-items: start;
    list-style-type: none;
    gap: 15px;
}

.logo {
    display: flex;
    align-items: flex-end;
}